html {
    scroll-behavior: smooth;
  }

/* FONT */
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3 {
    font-family: "Anton", sans-serif;
    letter-spacing: -0.04em;
    margin: 0;
}

h1 {
    font-size: 25.75em;
    line-height: 0.92em;
}

h2 {
    font-size: 16em;
    line-height: 0.92em;
}

h3 {
    font-size: 8em;
    line-height: 0.92em;
}

p, a, span, input, textarea, button {
    font-family: "Inter", sans-serif;
    letter-spacing: -0.08em;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
}

.text-prim {
    color: #252C35;
}

.text-sec {
    color: #7C8086;
}

.text-clean {
    color: #FFFFFF;
}
/* END FONT */

/* BACKGROUND */
.bg-prim {
    background-color: #252C35;
}

.bg-sec {
    background-color: #7C8086;
}

.bg-clean {
    background-color: #FFFFFF;
}

.bg-dmslib {
    background-color: #ADEAFF;
}

.bg-plkm {
    background-color: #34B796;
}

.bg-nusan {
    background-color: #64DBB2;
}
/* END BACKGROUND */

/* NAVBAR */
.navbar {
    padding: 48px;
}

.navbar-brand {
    font-family: "Anton", sans-serif;
    letter-spacing: -0.04em;
    font-size: 36px;
}

.navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    padding: 48px;
    background-color: #252C3570;
    transition: all 0.4s !important;
}

.navbar-toggler,
.navbar-brand {
    z-index: 1;
    border: none;
    color: #252C35;
    transition: color 0.5s ease;
    position: relative;
}

.navbar-brand::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #252C35;
    transition: width 0.5s ease;
}

.navbar-brand:hover::after {
    width: 100%;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse .nav-link {
    font-size: 8em;
    line-height: 1em;
    padding: 0;
}

.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link.active {
    color: #ffffff;
}

.nav-link {
    background-color: #252C35;
}

.nav-link .col-6 {
    padding-right: 48px;
}

.nav-link span{
    margin-left: 48px;
}

.navbar {
    transition: transform 0.5s ease-in-out;
}
  
.navbar.hidden {
    transform: translateY(-100%);
}

/* END NAVBAR */

/* FOOTER */
.row-footer {
    margin: 96px 0 0 0;
}

.row-footer .col-link {
    margin: 0 0 144px 0;
}


.row-footer a {
    letter-spacing: 0.08em;
    margin-right: 32px;
    text-decoration: none;
    transition: 0.3s;
}

.row-footer a:hover {
    color: #252C35;
}
/* END FOOTER */


/* ================ >=1200px && <=1919 RESPONSIVE ================*/
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    h1 {
        font-size: 12.875em;
        line-height: 0.92em;
    }

    h2 {
        font-size: 8em;
        line-height: 0.92em;
    }

    h3 {
        font-size: 4em;
        line-height: 0.92em;
    }

    p, a, span, input, textarea, button {
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08em;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }

    .navbar-collapse .nav-link {
        font-size: 4em;
    }

    .row-footer {
        margin: 96px 0 0 0;
    }
}


/* ================ >=979px && <=1199px RESPONSIVE ================*/
@media screen and (min-width: 979px) and (max-width: 1199px) {
    h1 {
        font-size: 10.75em;
        line-height: 0.92em;
    }

    h2 {
        font-size: 6.68em;
        line-height: 0.92em;
    }

    h3 {
        font-size: 3.34em;
        line-height: 0.92em;
    }

    p, a, span, input, textarea, button {
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08em;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }

    .navbar-collapse .nav-link {
        font-size: 4em;
    }

    .row-footer {
        margin: 96px 0 0 0;
    }
}

/* ================ >=767px && <=1199px RESPONSIVE ================*/
@media screen and (min-width: 767px) and (max-width: 978px) {
    h1 {
        font-size: 9em;
        line-height: 0.92em;
    }

    h2 {
        font-size: 5.5em;
        line-height: 0.92em;
    }

    h3 {
        font-size: 2.8em;
        line-height: 0.92em;
    }

    p, a, span, input, textarea, button {
        font-family: "Inter", sans-serif;
        letter-spacing: -0.08em;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }

    .navbar, 
    .navbar-collapse, 
    .nav-link .col-6{
        padding: 24px;
    }

    .nav-link span {
        margin-left: 24px;
    }

    .navbar-collapse .nav-link {
        font-size: 2.8em;
    }

    .container-footer {
        padding: 96px 24px !important;
    }

    .row-footer {
        margin: 96px 0 0 0;
    }
}

/* ================ >=480px && <=766px RESPONSIVE ================*/
@media screen and (min-width: 480px) and (max-width: 766px) {
    h1 {
        font-size: 6.125em;
        line-height: 0.92em;
    }

    h2 {
        font-size: 3.75em;
        line-height: 0.92em;
    }

    h3 {
        font-size: 2em;
        line-height: 0.92em;
    }

    p, a, span, input, textarea, button {
        font-size: 16px;
    }

    .navbar, 
    .navbar-collapse, 
    .nav-link .col-6{
        padding: 24px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .nav-link span {
        margin-left: 24px;
    }

    .nav-link {
        width: 100% !important;
    }

    .navbar-collapse .nav-link {
        font-size: 2.8em;
    }

    .container-footer {
        padding: 48px 24px !important;
    }

    .row-footer {
        margin: 48px 0 !important;
    }

    .row-footer .col-link {
        display: flex;
        flex-direction: column;
        margin: 0 0 48px 0;
    }

    .col-link a {
        margin: 0 0 12px 0;
    }
}

/* ================ >=0px && <=479px RESPONSIVE ================*/
@media screen and (min-width: 0px) and (max-width: 479px) {
    h1 {
        font-size: 3.8em;
        line-height: 0.92em;
    }

    h2 {
        font-size: 2.8em;
        line-height: 0.92em;
    }

    h3 {
        font-size: 1.51em;
        line-height: 0.92em;
    }

    p, a, span, input, textarea, button {
        font-size: 16px;
    }

    .navbar, 
    .navbar-collapse, 
    .nav-link .col-6{
        padding: 24px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .nav-link span {
        margin-left: 24px;
    }

    .nav-link {
        width: 100% !important;
    }

    .navbar-collapse .nav-link {
        font-size: 2em;
    }

    .container-footer {
        padding: 48px 24px !important;
    }

    .row-footer {
        margin: 48px 0 !important;
    }

    .row-footer .col-link {
        display: flex;
        flex-direction: column;
        margin: 0 0 48px 0;
    }

    .col-link a {
        margin: 0 0 12px 0;
    }
}


