.container-fluid {
    height: 100vh;
}

#left-col {
    padding: 24px;
}

#left-col .row {
    max-width: 400px;
    width: 100%;
}

.form-control {
    height: 40px;
    border: solid 1px var(--color-text);
    border-radius: 6px;
    background-color: var(--color-base);
    font-size: 16px !important;
}

.row button {
    height: 40px;
    border-radius: 6px;
    transition: 0.3s;
}

.row button:hover {
    background-color: var(--color-active) !important;
    transition: 0.3s;
}

#password {
    padding: 6px 48px 6px 12px;
}

#togglePassword {
    font-size: 20px;
    position: absolute; 
    top: 50%; 
    padding: 6px 12px 0 0;
    width: auto;
    /* transform: translateY(-50%);  */
    cursor: pointer; 
    color: var(--color-text);
}

#right-col {
    padding: 24px;
}

#right-col img {
    width: 100%;
}